name: CI

on:
  pull_request:
    branches:
      - '**'

jobs:
  lint-and-format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: '.python-version'

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install dependencies
        run: make install

      - name: Run lint and format checks
        run: make check
